VITE_SUPABASE_URL=https://zgpspvgsmxftmktzcqwz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpncHNwdmdzbXhmdG1rdHpjcXd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg5NTk3MDgsImV4cCI6MjA2NDUzNTcwOH0.9Uw2NCHikBdUyGLW10wnFaWQmHxkTkaZvLbPVwzwNgg